.sidebar {
    @apply bg-primary-500 relative h-screen flex flex-col;

    &.collapsed {
        .nav {
            width: 56px;
        }

        .nav-list {
            @apply overflow-y-hidden;
        }

        .nav-item__name {
            @apply opacity-0;
        }

        .item-genre {
            @apply opacity-0;
        }
    }
}
//navigation

.nav {
    @apply pt-16 w-52;
    transition: all 0.2s ease;
}

.nav-list {
    @apply overflow-y-scroll overflow-x-hidden;
    height: calc(100vh - var(--header-height) - var(--account-sidebar-height));
}

.nav-list::-webkit-scrollbar {
    width: 10px;
}

.nav-list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ccc;
}

.nav-list::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 8px;
    border: 0;
}

.nav-list::-webkit-scrollbar-track {
    @apply bg-primary-500;
    border-radius: 10px;
}

.nav-item {
    @apply text-white w-full flex items-center overflow-hidden;

    &:hover {
        background-color: #292929;
    }
}

.nav-item--yellow {
    color: #ddaa00;
}

.border-top {
    border-top: 2px solid rgba(204, 204, 204, 0.2);
}

.nav-item__icon {
    @apply w-14 h-14 flex items-center justify-center flex-shrink-0;
    font-size: 18px;
}

.nav-item__name {
    @apply whitespace-nowrap flex-shrink-0;
    transition: opacity 0.4s ease;
}

.item-genre {
    @apply w-full flex py-3 leading-normal text-sm text-white whitespace-nowrap;
    padding-left: 56px;
    transition: opacity 0.2s ease;

    &:hover {
        background-color: #292929;
    }
}

//footer
.account {
    @apply py-3 px-4 absolute bottom-0 left-0 w-full flex items-center justify-center text-white;
    flex-direction: column;
    gap: 10px;
    height: var(--account-sidebar-height);
    background-color: #212121;
}
.account-setting {
}
.account-name {
}
